<c-row>
  <c-col xs>
    <c-card class="mb-4">
      <c-card-body>
        <form cForm>
          <div class="d-flex justify-content-between align-items-center">
            <h4 class="card-title" id="users">Crear aporte de información</h4>
          </div>
          <div class="form-container">
            <div class="two-inputs-container">
              <div class="input-container">
                <label cLabel for="exampleFormControlInput1">Resumen</label>
                <input
                  cFormControl
                  id="description"
                  placeholder="Resumen"
                  type="text"
                  name="description"
                  [(ngModel)]="description"
                  value="{{ description }}"
                />
              </div>

              <div class="two-inputs-container">
                <div class="input-container">
                  <label cLabel for="exampleFormControlInput1">Indicador</label>
                  <select
                    aria-label="department select"
                    name="indicatorId"
                    cSelect
                  >
                    @for (indicator of indicatorOptions; track indicator.id) {
                    <option value="{{ indicator.id }}">
                      {{ indicator.index }} {{ indicator.name }}
                    </option>
                    }
                  </select>
                </div>
              </div>
              <div class="two-inputs-container">
                <div class="input-container">
                  <label cLabel for="exampleFormControlInput1">Categoría</label>
                  <select
                    aria-label="department select"
                    name="departmentId"
                    cSelect
                  >
                    <option>Hola</option>
                  </select>
                </div>
              </div>

              <label cLabel>Archivos</label>

              <div class="files-container">
                @if (files.length === 0) {
                <h6>No se han agregado archivos todavía.</h6>
                } @for (file of files; track $index) {
                <div class="file-container">
                  <button cButton class="image-container">
                    <input cFormControl type="file" />
                    <img
                      cImg
                      fluid
                      height="100px"
                      width="100px"
                      class="image"
                      src="https://img.imageboss.me/fourwinds/width/425/dpr:2/shop/products/blackmonukka.jpg?v=1538780984"
                    />
                  </button>

                  <textarea
                    placeholder="Descripción"
                    cFormControl
                    class="textarea"
                  ></textarea>
                </div>
                }
                <div class="new-file-button-container">
                  <button class="" (click)="addFile()" cButton>
                    Agregar otro archivo
                  </button>
                </div>
              </div>

              <label cLabel>Links</label>

              <div class="links-container">
                @if (links.length === 0) {
                <h6>No se han agregado archivos todavía.</h6>
                } @for (link of links; track $index) {
                <div class="link-container">
                  <input cFormControl placeholder="URL" />

                  <textarea
                    placeholder="Descripción"
                    cFormControl
                    class="textarea"
                  ></textarea>
                </div>
                }
                <div class="new-link-button-container">
                  <button class="" (click)="addLink()" cButton>
                    Agregar otro link
                  </button>
                </div>
              </div>

              <div class="button-container">
                <button (click)="editContribution()" cButton>Guardar</button>
              </div>
            </div>
          </div>
        </form>
      </c-card-body>
    </c-card>
  </c-col>
</c-row>
