.button-container {
  margin-top: 16px;
  display: flex;
  justify-content: flex-end;
}

.files-container {
  display: flex;
  flex-direction: column;
  border: solid 1px #dbdfe6;
  border-radius: 6px;
  gap: 40px;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 20px;
  padding-right: 20px;
}

.form-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.file-container {
  display: flex;
  flex-direction: row;
  flex-grow: 1;
  width: 100%;
  justify-content: space-between;
  align-content: center;
  align-items: center;
}

.new-file-button-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.links-container {
  display: flex;
  flex-direction: column;
  border: solid 1px #dbdfe6;
  border-radius: 6px;
  gap: 40px;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 20px;
  padding-right: 20px;
}

.link-container {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  gap: 20px;
  justify-content: center;
  align-content: center;
  align-items: center;
}

.new-link-button-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.two-inputs-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  align-content: center;
}

.file-form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.file-input-container {
  display: flex;
  flex-direction: row;
  gap: 20px;
  align-items: center;
}

.erase-file-button {
  color: white;
}

.erase-link-button {
  color: white;
}

.erase-link-button-container {
  display: flex;
  flex-direction: row;
  align-self: flex-end;
}

input[type="file"]::file-selector-button {
  background-color: #4caf50;
  color: white;
  padding: 6px 12px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
