<c-card class="mb-4">
    <c-card-body>
      <div class="d-flex justify-content-between align-items-center">
        <h4 class="card-title" id="users">Editar Usuario</h4>     
      </div>
  
      <form cForm>
        <div>
          <label cLabel for="exampleFormControlInput1">Nombre</label>
          <input cFormControl
                 id="exampleFormControlInput1"
                 type="text"
                 [ngModelOptions]="{standalone: true}"
                 [(ngModel)]="name"
                 value="{{ name }}"
          />
        </div>
        <div class="input-container">
          <label cLabel for="exampleFormControlInput1">Indicador</label>
          <select
            aria-label="department select"
            [ngModelOptions]="{standalone: true}"
            [(ngModel)]="indicatorID"
            value="{{ indicatorID }}"
            cSelect
          >
            @for (ind of indicators; track ind.id) {
            <option value="{{ ind.id }}">
              {{ ind.id }} {{ ind.name }}
            </option>
            }
          </select>
        </div>
        <div class="input-container">
          <label cLabel for="exampleFormControlInput1">Criterios</label>
          <select
            aria-label="department select"
            [ngModelOptions]="{standalone: true}"
            [(ngModel)]="criteriaID"
            value="{{ criteriaID }}"
            cSelect
          >
            @for (crite of criteria; track crite.id) {
            <option value="{{ crite.id }}">
              {{ crite.id }} {{ crite.name }}
            </option>
            }
          </select>
        </div>
        <div>
          <label cLabel for="exampleFormControlInput1">Descripción</label>
          <textarea cFormControl
                 id="exampleFormControlInput1"
                 type="text"
                 [ngModelOptions]="{standalone: true}"
                 [(ngModel)]="description"
                 value="{{ description }}"
          ></textarea>
        </div>   
        <a cButton (click)="editCategorie()" color="success" class="text-white ms-md-2 mb-3">
          Guardar
        </a>
      </form>
  
    </c-card-body>
  </c-card>