:host {
  .ng-scrollbar {
    --scrollbar-padding: 1px;
    --scrollbar-size: 5px;
    --scrollbar-thumb-color: var(--cui-gray-500, #999);
    --scrollbar-thumb-hover-color: var(--cui-gray-400, #999);
    --scrollbar-hover-size: calc(var(--scrollbar-size) * 1.5);
  }
}

// ng-scrollbar css variables
//.cui-scrollbar {
//  --scrollbar-border-radius: 7px;
//  --scrollbar-padding: 1px;
//  --scrollbar-viewport-margin: 0;
//  --scrollbar-track-color: transparent;
//  --scrollbar-wrapper-color: transparent;
//  --scrollbar-thumb-color: rgba(0, 0, 0, 0.2);
//  --scrollbar-thumb-hover-color: var(--scrollbar-thumb-color);
//  --scrollbar-size: 5px;
//  --scrollbar-hover-size: var(--scrollbar-size);
//  --scrollbar-thumb-transition: height ease-out 150ms, width ease-out 150ms;
//  --scrollbar-track-transition: height ease-out 150ms, width ease-out 150ms;
//}

/* Elimina estas reglas CSS si estaban cambiando el color de fondo */
::ng-deep .ng-scrollbar-track {
  background-color: #1E4034 !important; /* Color de fondo de la pista de la barra */
}

::ng-deep .ng-scrollbar-thumb {
  background-color: #1E4034 !important; /* Color del pulgar de la barra */
}

/* Cambia el color de fondo de la pista de la barra de desplazamiento */
::-webkit-scrollbar-track {
  background-color: #1E4034;
}

/* Cambia el color del pulgar de la barra de desplazamiento */
::-webkit-scrollbar-thumb {
  background-color: #1E4034;
}

.sidebar {
  background-color: #1E4034;
}

.sidebar {
  transition: background-color 0.7s ease;
}
