<div class="bg-light dark:bg-transparent mt-5 d-flex flex-row align-items-center">
  <c-container class="justify-content-center">
    <c-row class="justify-content-center">
      <c-col md="6">
        <div class="clearfix">
          <h1 class="float-start display-3 me-4">404</h1>
          <h4 class="pt-3">Ups! Te perdiste</h4>
          <p class="text-body-secondary float-start">
            La página que estás buscando no existe.
          </p>
        </div>
      </c-col>
    </c-row>
  </c-container>
</div>
