<div
  class="bg-light dark:bg-transparent min-vh-100 d-flex flex-row align-items-center"
>
  <c-container breakpoint="md">
    <c-row class="justify-content-center">
      <c-col lg="10" xl="8">
        <c-card-group>
          <c-card
            [ngStyle]="{
              'background-color': '#5A835A',
              border: '1px solid #5A835A',
              'minWidth.%': 44
            }"
          >
            <c-card-body class="green-card">
              <div class="image-container">
                <img class="image" src="assets/images/GreeniePanel.png" />
              </div>

              <h2>¡Bienvenido/a!</h2>
              <p>Me alegra verte de nuevo</p>
            </c-card-body>
          </c-card>
          <c-card class="p-4">
            <c-card-body>
              <form [formGroup]="loginForm" cForm>
                <h1>Inicia Sesión</h1>
                <p class="text-body-secondary">
                  Ingresa a tu cuenta de GreenieMetrics
                </p>
                <c-input-group class="mb-3">
                  <span cInputGroupText>&#64;</span>
                  <input
                    formControlName="email"
                    autoComplete="email"
                    cFormControl
                    placeholder="Correo electrónico"
                  />
                </c-input-group>
                <c-input-group class="mb-4">
                  <span cInputGroupText>
                    <svg cIcon name="cilLockLocked"></svg>
                  </span>
                  <input
                    formControlName="password"
                    autoComplete="current-password"
                    cFormControl
                    placeholder="Contraseña"
                    type="password"
                  />
                </c-input-group>
                <c-row class="helpers-container"
                  ><div
                    *ngIf="
                      (email!.invalid && (email!.dirty || email!.touched)) ||
                      (password!.invalid &&
                        (password!.dirty || password!.touched))
                    "
                    class="helper"
                  >
                    <div *ngIf="email!.hasError('required')">
                      El email es requerido
                    </div>
                    <div *ngIf="password!.hasError('required')">
                      La contraseña es requerida
                    </div>
                    <div *ngIf="password!.hasError('minlength')">
                      La contraseña debe tener al menos 8 caracteres
                    </div>
                  </div></c-row
                >
                <c-row>
                  <c-col xs="6">
                    <button
                      (click)="login()"
                      cButton
                      [ngStyle]="{
                        'background-color': '#5A835A',
                        border: '1px solid #5A835A'
                      }"
                      class="text-white ms-md-2 mb-3 px-4"
                    >
                      Ingresar
                    </button>
                  </c-col>
                </c-row>
              </form>
            </c-card-body>
          </c-card>
        </c-card-group>
      </c-col>
    </c-row>
  </c-container>
</div>

<c-toaster [placement]="position" class="p-3" position="fixed">
  <c-toast
    (timer)="onTimerChange($event)"
    (visibleChange)="onVisibleChange($event)"
    [visible]="visible"
    [class]="toastClass"
  >
    <c-toast-body>
      <p>{{ toastMessage }}</p>
      <c-progress thin>
        <c-progress-bar [value]="percentage"></c-progress-bar>
      </c-progress>
    </c-toast-body>
  </c-toast>
</c-toaster>

<ngx-spinner
  bdColor="rgba(0,0,0,0.65)"
  size="large"
  color="rgb(60, 179, 113)"
  type="ball-scale-multiple"
>
  <p style="color: white">Cargando...</p>
</ngx-spinner>
