.image {
  max-width: 300px;
  max-height: 300px;
  width: 175px;
  height: 175px;
  margin-bottom: 10px;
  display: block;
  margin: 0 auto;
}
.image-container {
  background-color: white;
  border-radius: 100%;
  width: 175px;
  height: 175px;
}
.card-body {
  text-align: center;
}
.green-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
  margin-top: 12px;
  gap: 6px;
}

.helper {
  color: #d11717;
}
.helpers-container {
  display: flex;
  flex-direction: column;
  gap: 4px;
}
button {
  margin-top: 10px;
}
