<div class="table-responsive">
  <div *ngIf="isLate">
    <c-card class="mb-4" color="warning">
      <c-card-body class="card-body">
        <h5 class="card-text">
          {{ message }}
        </h5></c-card-body
      >
    </c-card>
  </div>
  <table class="table table-striped align-middle mb-0 border custom-table">
    <thead class="text-nowrap text-truncate">
      <tr>
        <th
          class="text-center"
          [ngStyle]="{ 'background-color': headers[0].color }"
        >
          Unidades involucradas/programas-actividades-competencia
        </th>
        <ng-container *ngFor="let category of categories; let i = index">
          <th
            class="text-center"
            [ngStyle]="{ 'background-color': headers[i + 1].color }"
          >
            {{ category.name }}
          </th>
        </ng-container>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let matrix of matrix">
        <td class="text-start border-cell">{{ matrix.departmentName }}</td>
        <td
          class="text-center border-cell"
          [ngStyle]="{
            'background-color':
             category.id === matrix.categories[i].id && matrix.categories[i].potencially 
             ? headers[i + 1].color 
             : 'transparent'
          }"
          *ngFor="let category of categories; let i = index"
        >
          <ng-container *ngIf="matrix.categories[i].quantity > 0">
            <p
              (click)="
                navigateToContributions(
                  matrix.categories[i].id,
                  matrix.departmentId
                )
              "
              style="cursor: pointer;
               display: flex;
               font-size: large;
               font-weight: bold;
               justify-content: center;"
            >
            {{ matrix.categories[i].quantity }}
              <svg
                cIcon
                name="cil-check"
                size="xl"
              ></svg>
            </p>
          </ng-container>
        </td>
      </tr>
    </tbody>
  </table>
</div>

<c-toaster [placement]="position" class="p-3" position="fixed">
  <c-toast
    (timer)="onTimerChange($event)"
    (visibleChange)="onVisibleChange($event)"
    [visible]="visible"
    [class]="toastClass"
  >
    <c-toast-body>
      <p>{{ toastMessage }}</p>
      <c-progress thin>
        <c-progress-bar [value]="percentage"></c-progress-bar>
      </c-progress>
    </c-toast-body>
  </c-toast>
</c-toaster>
