<c-row>
  <c-col xs>
    <c-card class="mb-4">
      <c-card-body>
        <form cForm>
          <div class="root-div">
            <div class="tittle-container">
              <h4 class="card-title" id="settings">Ajustes</h4>
            </div>
            <div>
              <h5 class="subtittle-style">
                Periodo valido para subir aportes de información
              </h5>

              <div class="settings-container">
                <div class="left-date-container">
                  <h6 class="subtittle-style">Fecha de inicio</h6>
                  <mat-form-field style="width: 100%">
                    <mat-label>Introduzca fecha</mat-label>
                    <input
                      [(ngModel)]="fechaIni"
                      matInput
                      name="fechaIni"
                      [matDatepicker]="picker"
                      (dateChange)="setInitDate($event.value)"
                    />
                    <mat-hint>MM/DD/YYYY</mat-hint>
                    <mat-datepicker-toggle
                      matIconSuffix
                      [for]="picker"
                    ></mat-datepicker-toggle>
                    <mat-datepicker #picker></mat-datepicker>
                  </mat-form-field>
                </div>

                <div class="right-date-container">
                  <h6 class="subtittle-style">Fecha de fin</h6>

                  <mat-form-field style="width: 100%">
                    <mat-label>Introduzca fecha</mat-label>
                    <input
                      [(ngModel)]="fechaFin"
                      matInput
                      name="fechaFin"
                      [matDatepicker]="picker2"
                      (dateChange)="setEndDate($event.value)"
                    />
                    <mat-hint>MM/DD/YYYY</mat-hint>
                    <mat-datepicker-toggle
                      matIconSuffix
                      [for]="picker2"
                    ></mat-datepicker-toggle>
                    <mat-datepicker #picker2></mat-datepicker>
                  </mat-form-field>
                </div>
              </div>
              <div class="left-date-container">
                <h5 class="subtittle-style">
                  Recibir notificaciones de cada aporte de información
                </h5>
                <mat-slide-toggle
                  class="slider-style"
                  [aria-label]="notificaciones"
                  [checked]="notificationButton"
                  (change)="notificationSliderHandler(notificationButton)"
                  color="primary"
                >
                </mat-slide-toggle>
                <h5 class="subtittle-style">
                  Enviar periodicamente recordatorios por correo cuando quede
                  poco tiempo para aportar
                </h5>
                <mat-slide-toggle
                  class="slider-style"
                  [aria-label]="recordatorios"
                  [checked]="reminderButton"
                  (change)="reminderSliderHandler(reminderButton)"
                  color="primary"
                >
                </mat-slide-toggle>
              </div>
              <div class="tittle-container">
                <button class="button-style" (click)="createSetting()" cButton>
                  Guardar
                </button>
              </div>
            </div>
          </div>
        </form>
      </c-card-body>
    </c-card>
  </c-col>
</c-row>

<c-toaster [placement]="position" class="p-3" position="fixed">
  <c-toast
    (timer)="onTimerChange($event)"
    (visibleChange)="onVisibleChange($event)"
    [visible]="visible"
    [class]="toastClass"
  >
    <c-toast-body>
      <p>{{ toastMessage }}</p>
      <c-progress thin>
        <c-progress-bar [value]="percentage"></c-progress-bar>
      </c-progress>
    </c-toast-body>
  </c-toast>
</c-toaster>
